# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log
/.pnp
.pnp.js

# TypeScript
*.tsbuildinfo
*.tsx
*.map

# ESLint
.eslintcache

# testing
/coverage
/cache
coverage.json
typechain
typechain-types

# production
/lib
lib/

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Dependency directories
/jspm_packages/
/bower_components/

#Hardhat files
cache
artifacts
gasreports
deployments